* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #F6F6F6;
}
.login-div {
    width: 600px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: url(./download.jpg);
    background-size: cover;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
    text-align: right;
}

.sponsor{
    color: #fff;
    font-size: 14px;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
    position: absolute;
}
.sponsor h4,h5 {
    margin: -30px 10px 35px 10px;
    position: relative;
    left: 270px;

}
.sponsor h5 a {
  color: #fff;
}
.sponsor h5 a:hover{
    color: #abb6b9;
    font-size: 14.5px;
}

.login{
 position:relative;
 top: -65px;
 left: -160px;
 width: 30%;
 height:30px ;
 border-radius: 30px;
 font-size: 15px;
 outline: none;
 border: none;
 cursor: pointer;
 text-align: center;
 background-color: #fff;
 transition: all 0.5s;
}
.login:hover {
    background-color: #ebd7c3;
}

.logo {
    background: url();
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 30px auto 20px auto;
    box-shadow: 0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    3px 3px 15px #afaaa7,
    -3px -3px 16px #fff;
}

.fields {
    width: 90%;
    margin-left: 30px;
}

.fields label{
 color: #ecf0f3;
 font-size: 17px;
 margin-right: 30px;
}

.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 10px 15px 5px;
}

.firstname, .lastname,
 .id-inst, .phone-number {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 25px;
    color: #fff;
    box-shadow: inset 3px 3px 14px #cbced1,
    inset -3px -3px 15px #fff;
}

.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 98%;
    height: 55px;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-align: center;
    background-color: #fff;
    transition: all 0.5s; 
}
.signin-button:hover {
    background-color: #ebd7c3;
}
 
div .first-code {
   display: flex;
   flex-direction: row;
   border-radius: 25px;
   color: #fff;
   box-shadow: inset 3px 3px 14px #cbced1,
   inset -3px -3px 15px #fff;
   width: 42%;
   height: 45px;
   margin-left: 20px;
   padding-bottom:5px;
}

div .second-code{
    position: relative;
    bottom: 44px;
    right: 37px;
    border-radius: 25px;
    color: #fff;
    box-shadow: inset 3px 3px 14px #cbced1,
    inset -3px -3px 15px #fff;
    width: 42%;
    height: 45px;
    padding-bottom:5px;
}

.corss-icon{
    width: 100%;
    text-align: left;
    padding: 25px 0;
}

.corss-icon img {
    width: 20px;
    margin-left: 30px;
}

.container{
    position:fixed;
    top: 30px;
    right:485px;
    background-color: #f9efefea;
    width: 37%;
    height:400px;
    border-radius: 30px;
    z-index: 100;
    transform: translateY(-130%);
    text-align:center;
    justify-content: center;
}
.show-enter{
    animation: fadeindown 0.25s forwards;
}

.enter-input input{
    border:3px solid #b6b5b5 ;
    border-radius: 10px;
    outline: none;
    background: none;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 16px;
    position: relative;
    bottom: 20px;
}
.container h3 {
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
}
.container label {
    font-size: 20px; 
    color: #676363;
    position: relative;
    bottom: 20px;
    
} 
.login-modale {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45%;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    background-color: #676363;
    transition: all 0.5s; 
    position: relative;
    bottom: 20px;
}
.login-modale:hover {
    background-color:#827b7b ;
}

@keyframes fadeindown {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:1500px){
    .container{
        right: 450px;
        left: auto;
        margin: auto;
        width: 37%;
        height: 380px;
    }
}

@media(max-width:1360px){
    .container{
        right: 380px;
        left: auto;
        margin: auto;
        width: 42%;
        height: 380px;
    }
}

@media(max-width:1150px){
    .container{
        right: 290px;
        left: auto;
        margin: auto;
        width: 50%;
        height: 380px;
    }
}

@media(max-width:900px){
    .container{
        left: auto;
        margin: auto;
        right:150px;
        width: 65%;
        height: 380px;
    }
}
@media(max-width:768px){
    .login-div {
        width: 500px;
        height: 650px;
        padding: 40px 35px 35px 20px;
    }
    .sponsor h4,h5 {
        left: 170px;
        top: 10px;
    }
    .signin-button{
        width: 90%;
        height: 47px;
        position: relative;
        bottom: 20px;
    }
    .login{
        top: -56px;
        left: -170px; 
    }
    .container{
       right:150px;
       top: 50px;
       width: 60%;
       height: 380px;
    }

}

@media (max-width:575px) {
    .container{
        right:50px;
        top: 50px;
        width: 77%;
        height: 380px;
     }
     .login-div {
        width: 88%;
        height: 650px;
        padding: 40px 35px 35px 20px;
    }
    .sponsor h4,h5 {
        left: 250px;
    }
    .sponsor span {
         display: block;
    }
.login{
    left: -90px;
    }
    div .second-code,
    div .first-code {
        width: 38%;
     }
}

@media (max-width:400px) {
.enter-input input{
        width: 60%; 
    }
    .sponsor h4,h5 {
        left: 100px;
    }
    div .second-code,
    div .first-code {
        width: 35%;
     }
}